/target/
.idea
*.iml
CardsManagement/target/
GameEngine/target/
PlayerManagement/target/
RulesManagement/target/
GameUI/target/
Configuration/target/
Persistence/target/
VirtualPlayer/target/

/*.class
/*.log
/*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db

# Eclipse
.project
.classpath
.settings/


