<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">



	<bean class="de.htwberlin.service.CardService"
		  id="cardService" />


	<bean class="de.htwberlin.service.PlayerService"
		  id="playerService">
		<property ref="cardService" name="" />
	</bean>

	<bean
		class="de.htwberlin.service.RuleService"
		id="ruleService">
		<property ref="cardService" name="cardService" />

	</bean>

	<bean class="de.htwberlin.service.GameService"
		id="gameService">
		<property ref="cardService" name="cardService" />
		<property ref="ruleService" name="bidService" />
		<property ref="playerService" name="categoryService" />
	</bean>


	<bean class="de.htwberlin.service.GameUIController"
		id="uiController">
		<property ref="gameService" name="" />
	</bean>

</beans>