<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">



	<bean class="de.htwberlin.impl.service.CardService"
		  id="cardService" />

	<bean class="de.htwberlin.impl.service.PlayerService"
		  id="playerService">
		<property ref="cardService" name="cardService" />
	</bean>

	<bean class="de.htwberlin.impl.service.RuleService"
		id="ruleService">
		<property ref="cardService" name="cardService"/>
	</bean>

	<bean class="de.htwberlin.impl.service.GameService"
		id="gameService">
		<property ref="cardService" name="cardService" />
		<property ref="ruleService" name="ruleService" />
		<property ref="playerService" name="playerService" />
	</bean>


	<bean class="de.htwberlin.impl.service.GameUIController"
		id="uiController">
		<property ref="gameService" name="gameService" />
	</bean>

</beans>
